<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>已创建的技能</h3>
{% if skill_list %}
    {% for skill in skill_list %}
        <div style="float: left">
            <img id="{{ skill.id }}" src=/{{ skill.pic }}
                 class="img-responsive avatar size-XXXL thumbnail"
                 alt="{{ skill.name }}" onclick="skill_detail(this.id)">
            {% if skill.unique %}<p><i>{{ skill.name }}</i></p>
            {% else %}<p>{{ skill.name }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div style="float: left">
        <img src="{% static 'images/create.jpg' %}" onclick="create_skill()">
    </div>
{% else %}
    <div style="float: left">
        <img src="{% static 'images/create.jpg' %}" onclick="create_skill()">
    </div>
{% endif %}
</body>
</html>