<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function back_to_personal() {
            $('div#section').load('/html/personal/personal_page.html/');
        }
    </script>
</head>
<body>
<button class="back" style="float: right" onclick="back_to_personal()">返回上一级</button>
<h3>已创建的物品</h3>
{% if item_list %}
    {% for item in item_list %}
        <div style="float: left">
            <img id="{{ item.id }}" src=/{{ item.pic.name }}
                 class="img-responsive avatar size-XXXL thumbnail"
                 alt="{{ item.name }}" onclick="item_detail(this.id)">
            <p>{{ item.name }}</p>
        </div>
    {% endfor %}
    <div style="float: left">
        <img src="{% static 'resource/create.jpg' %}" onclick="create_item()">
    </div>
{% else %}
    <div style="float: left">
        <img src="{% static 'resource/create.jpg' %}" onclick="create_item()">
    </div>
{% endif %}
</body>
</html>