<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>已创建的任务</h3>
{% if task_list %}
    {% for task in task_list %}
        <div>
            <div onclick="task_detail(this.id)">{{ task.name }}</div>
        </div>
    {% endfor %}
    <img src="{% static 'resource/create.jpg' %}" onclick="create_task()">
{% else %}
    <img src="{% static 'resource/create.jpg' %}" onclick="create_task()">
{% endif %}
</body>
</html>