<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h3>已创建的物品</h3>
    {% if item_list %}
        {% for item in item_list %}
            <div style="float: left">
                <img id="{{ item.id }}" src=/{{ item.pic }} class="img-responsive avatar size-XXXL thumbnail"
                     alt="{{ item.name }}" onclick="item_detail(this.id)">
                <p>{{ item.name }}</p>
            </div>
        {% endfor %}
        <div style="float: left">
            <img src="{% static 'images/create.jpg' %}" onclick="create_item()">
        </div>
        <div style="float: left">
            <img src="{% static 'images/more.jpg' %}" onclick="personal_item_list()">
        </div>
    {% else %}
        <div style="float: left">
            <img src="{% static 'images/create.jpg' %}" onclick="create_item()">
        </div>
    {% endif %}
</div>
<div style="clear:both">
    <HR>
</div>
</body>
</html>