<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<h3>已创建的角色</h3>
    {% if character_list %}
        {% for character in character_list %}
            <div style="float: left">
                <img id="{{ character.id }}" src=/{{ character.head.name }}
                     class="img-responsive avatar size-XXXL thumbnail"
                     alt="{{ character.name }}" onclick="character_detail(this.id)">
                <p>{{ character.name }}</p>
            </div>
        {% endfor %}
        <div style="float: left">
            <img src="{% static 'resource/create.jpg' %}" onclick="create_character()">
        </div>
        <div style="float: left">
            <img src="{% static 'resource/more.jpg' %}" onclick="personal_character_list()">
        </div>
    {% else %}
        <div style="float: left">
            <img src="{% static 'resource/create.jpg' %}" onclick="create_character()">
        </div>
    {% endif %}
</div>
<HR>
</body>
</html>