<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function back_to_personal() {
            $('div#section').load('/html/personal/personal_page.html/');
        }
    </script>
</head>
<body>
<button class="back" style="float: right" onclick="back_to_personal()">返回上一级</button>
<h3>已创建的角色</h3>
{% if character_list %}
    {% for character in character_list %}
        <div style="float: left">
            <img id="{{ character.id }}" src=/{{ character.head }}
                 class="img-responsive avatar size-XXXL thumbnail"
                 alt="{{ character.name }}" onclick="character_detail(this.id)">
            <p>{{ character.name }}</p>
        </div>
    {% endfor %}
    <div style="float: left">
        <img src="{% static 'resource/create.jpg' %}" onclick="create_character()">
    </div>
{% else %}
    <div style="float: left">
        <img src="{% static 'resource/create.jpg' %}" onclick="create_character()">
    </div>
{% endif %}
</body>
</html>