<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.css' %}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'h-ui/js/H-ui.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('div.personal_character_simple').load('{% url 'personal:list_character_sample' %}');
            $('div.personal_item_simple').load('{% url 'personal:list_item_sample' %}');
            $('div.personal_task_simple').load('{% url 'personal:list_task_sample' %}');
        });

        function character_detail(id) {
            $('div#section').load('{% url 'character:character_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', id));
        }

        function item_detail(id) {
            $('div#section').load('{% url 'game:item_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', id));
        }

        function personal_character_list() {
            $('div#personal_main').load('{% url 'personal:list_character'%}');
        }

        function personal_item_list() {
            $('div#personal_main').load('{% url 'personal:list_item'%}');
        }

        function create_character() {
            $('div#create_dialog').find('h3.modal-title').text('创建新人物');
            $('div#create_dialog').find('div.modal-body').load('{% url 'character:character_create' %}', function () {
                $('form#create_character').submit(function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var form_data = new FormData(document.getElementById('create_character'));
                    $.ajax({
                        url: form.attr("action"),
                        method: form.attr("method"),
                        data: form_data,
                        processData:false,
                        contentType:false,
                        dataType: "json",
                        success: function (data) {
                            if (data.state == 0) {
                                $('div#create_dialog').modal("hide");
                                $('div#section').load('{% url 'personal:list_character'%}');
                            }
                            else {
                                alert(data.msg);
                            }
                            $('button.sure').attr("disabled", false);
                            $('button.sure').removeClass("disabled");
                            $('button.sure').addClass("btn-primary");
                        }
                    })
                });
            });
            $('div#create_dialog').find('button.sure').click(function () {
                $(this).attr("disabled", true);
                $(this).removeClass("btn-primary");
                $(this).addClass("disabled");
                $('form#create_character').submit()
            });
            $("div#create_dialog").modal("show")
        }

        function create_item() {
            $('div#create_dialog').find('h3.modal-title').text('创建新物品');
            $('div#create_dialog').find('div.modal-body').load('{% url 'game:item_create' %}', function () {
                $('form#create_item').submit(function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var form_data = new FormData(document.getElementById('create_item'));
                    console.log("test create_item");
                    $.ajax({
                        url: form.attr("action"),
                        method: form.attr("method"),
                        data: form_data,
                        processData:false,
                        contentType:false,
                        dataType: "json",
                        success: function (data) {
                            if (data.state == 0) {
                                $("div#create_dialog").modal("hide");
                                $('div#section').load('{% url 'personal:list_item'%}');
                            }
                            else {
                                alert(data.msg);
                            }
                            $('button.sure').attr("disabled", false);
                            $('button.sure').removeClass("disabled");
                            $('button.sure').addClass("btn-primary");
                        }
                    })
                });
            });
            $('div#create_dialog').find('button.sure').click(function () {
                $(this).attr("disabled", true);
                $(this).removeClass("btn-primary");
                $(this).addClass("disabled");
                $('form#create_item').submit()
            });
            $("div#create_dialog").modal("show")
        }

        function create_task() {
            $('div#create_dialog').find('h3.modal-title').text('创建新任务');
            $('div#create_dialog').find('div.modal-body').load('{% url 'game:task_create' %}', function () {
                $('form#create_task').submit(function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var form_data = new FormData(document.getElementById('create_task'));
                    $.ajax({
                        url: form.attr("action"),
                        method: form.attr("method"),
                        data: form_data,
                        processData:false,
                        contentType:false,
                        dataType: "json",
                        success: function (data) {
                            if (data.state == 0) {
                                $("div#create_dialog").modal("hide");
                                $('div#section').load('{% url 'personal:list_task'%}');
                            }
                            else {
                                alert(data.msg);
                            }
                            $('button.sure').attr("disabled", false);
                            $('button.sure').removeClass("disabled");
                            $('button.sure').addClass("btn-primary");
                        }
                    })
                });
            });
            $('div#create_dialog').find('button.sure').click(function () {
                $(this).attr("disabled", true);
                $(this).removeClass("btn-primary");
                $(this).addClass("disabled");
                $('form#create_task').submit()
            });
            $("div#create_dialog").modal("show")
        }
    </script>
</head>
<body style="width: 100%;">
<div id="create_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">标题</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary sure">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<div id="personal_main" style="width: 100%;height: 100%;OVERFLOW-Y: auto; OVERFLOW-X:hidden;">
    <div class="personal_character_simple" style="clear:both">personal_character_simple</div>
    <div class="personal_item_simple" style="clear:both">personal_item_simple</div>
    <div class="personal_area_simple" style="clear:both">personal_area_simple</div>
    <div class="personal_task_simple" style="clear:both">personal_task_simple</div>
</div>
</body>
</html>