<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

    </script>
</head>
<body>
<div class="character_list_before_main_page">
    <h6 class="character_list_before_title"></h6>
    {% if character_before_list %}
        {% for character in character_before_list %}
            <div style="float: left">
                <img id="{{ character.id }}" src=/{{ character.head.name }}
                     class="img-responsive avatar size-XL thumbnail"
                     alt="{{ character.name }}" onclick="character_detail(this.id)">
                <p>{{ character.name }}</p>
                {% if group_id %}
                    <button group_id={{ group_id }} character_id={{ character.id }} onclick="link_character(this)">关联
                    </button>
                {% endif %}
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No character are available.</p>
    {% endif %}
    <HR>
</div>
<div class="character_list_main_page">
    <h6 class="character_list_main_title"></h6>
    {% if character_list %}
        {% for character in character_list %}
            <div style="float: left">
                <img id="{{ character.id }}" src=/{{ character.head.name }}
                     class="img-responsive avatar size-XL thumbnail"
                     alt="{{ character.name }}" onclick="character_detail(this.id)">
                <p>{{ character.name }}</p>
                {% if group_id %}
                    <button group_id={{ group_id }} character_id={{ character.id }} onclick="link_character(this)">关联
                    </button>
                {% endif %}
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No character are available.</p>
    {% endif %}
</div>
</body>
</html>