<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        {% if group_id %}
            function link_character(character_id) {
                $.ajax({
                    url: '{% url 'character:character_link' %}',
                    method: 'post',
                    data: {
                        'group_id': '{{ group_id }}',
                        'character_id': character_id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.state == 0) {
                            $('div#dialog').modal('hide');
                            $("div#nav_main").load("{% url 'group:list_character' group_id %}");
                        }
                        else if(data.state == 2) {
                            $.Huimodalalert(data.msg, 1500);
                        }
                    }
                });
            }
        {% endif %}
        function character_dialog_detail(character_id) {
            $('div#dialog').find('div.modal-body').load('{% url 'character:character_detail'  '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', character_id));
            $('div#dialog').find('button.sure').css("display", "inline");
            $('div#dialog').find('button.sure').text("返回");
            $('div#dialog').find('button.sure').click(list_charater_from_room);
        }
    </script>
</head>
<body>
<div class="before_main_page" style="display: none">
    <h6 class="title"></h6>
    {% if character_before_list %}
        {% for character in character_before_list %}
            <div style="float: left">
                <img id="{{ character.id }}" src=/{{ character.head }}
                     class="img-responsive avatar size-XL thumbnail"
                     alt="{{ character.name }}" onclick="character_dialog_detail(this.id)">
                <p>{{ character.name }}</p>
                {% if group_id %}
                    <button group_id={{ group_id }} character_id={{ character.id }} onclick="link_character(this)">关联
                    </button>
                {% endif %}
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No character are available.</p>
    {% endif %}
    <HR>
</div>
<div class="main_page">
    <h6 class="title"></h6>
    {% if character_list %}
        {% for character in character_list %}
            <div style="float: left">
                <img id="{{ character.id }}" src=/{{ character.head }}
                     class="img-responsive avatar size-XL thumbnail"
                     alt="{{ character.name }}" onclick="character_dialog_detail(this.id)">
                <p>{{ character.name }}</p>
                {% if group_id %}
                    <button group_id={{ group_id }} character_id={{ character.id }}
                            onclick="link_character('{{ character.id }}')">关联
                    </button>
                {% endif %}
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No character are available.</p>
    {% endif %}
    <HR>
</div>
<div class="after_main_page" style="display: none">
    <h6 class="title"></h6>
    {% if character_after_list %}
        {% for character in character_after_list %}
            <div style="float: left">
                <img id="{{ character.id }}" src=/{{ character.head }}
                     class="img-responsive avatar size-XL thumbnail"
                     alt="{{ character.name }}" onclick="character_dialog_detail(this.id)">
                <p>{{ character.name }}</p>
                {% if group_id %}
                    <button group_id={{ group_id }} character_id={{ character.id }} onclick="link_character(this)">
                        关联
                    </button>
                {% endif %}
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No character are available.</p>
    {% endif %}
    <HR>
</div>
</body>
</html>