.create_room, .exit_room {
    float: right;
    padding: 5px;
}

#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 510px;
    width: 24%;
    float: right;
    padding: 10px;
}

#nav_label_box {
    width: 100%;
    height: 32px;
    border: 1px solid #cbcbcb;
}

#section {
    background-color: lightskyblue;
    width: 73%;
    height: 510px;
    float: left;
    padding: 10px;
}

#footer {
    background-color: black;
    height: 100%;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
