<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/room/group_label.css' %}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('div.hor_label_main div:first-child').addClass("hover");
            var group_id = $('div.hor_label_main div:first-child').attr('group_id');
            $("div#nav_main").load("/group/" + group_id+ "/list/character/");
        });

        function change_label(dom) {
            var div = $(dom);
            if (div.hasClass("hover")) {
                return
            }
            $('div.hor_label_main div').removeClass("hover");
            div.addClass("hover");
            $("div#nav_main").load("/group/" + div.attr('group_id'))+ "/list/character/";
        }
    </script>
</head>
<body>
<div class="hor_label">
    <div class="hor_label_main">
        {% if groups %}
            {% for group in groups %}
                <div class="col-xs-12 col-sm-{% widthratio 12 group_length 1%} hor_label_item" group_id="{{ group.id }}" onclick="change_label(this)">
                    {% if group.type == 0 %}
                        游戏者
                    {% elif group.type == 1 %}
                        旁观者
                    {% elif group.type == 2 %}
                        申请者
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<HR>
</body>
</html>