<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/room/player_character_list.css' %}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'h-ui/js/H-ui.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            if (window.s) {

            }
            else {
                /*创建socket连接*/
                var socket = new WebSocket("ws://" + window.location.host + "/ws/private_chat/");
                socket.onopen = function () {
                    var init_data = {
                        'system_order': 'refresh_character',
                        'group_id':'{{ group_id }}'
                    };
                    socket.send(JSON.stringify(init_data));
                    console.log('WebSocket open');  //成功连接上Websocket
                };
                socket.onmessage = function (e) {
                    console.log('message: ' + e.data);//打印出服务端返回过来的数据
                    var data = JSON.parse(e.data);
                    if (data.system_order == 'refresh_character') {
                        $('div.hor_label_main div').removeClass("hover");
                        $('div.hor_label_main').find('div[group_id="'+data.group_id+'"]').addClass("hover");
                        $("div#nav_main").load("/group/" + data.group_id + "/list/character/");
                    }
                    else {
                        var message = '[' + data.sender + ']悄悄的对你说: "' + data.msg + ' "';
                        $.Huimodalalert(message, 2000);
                    }
                };
                // Call onopen directly if socket is already open
                if (socket.readyState == WebSocket.OPEN) socket.onopen();
                window.s = socket;
            }

            $("form.prviate_chat_form").submit(function (even) {
                even.preventDefault();
                var form = $(this);
                var data = {
                    'receiver': form.attr("id"),
                    'msg': form.children('input.chat_box')[0].value,
                    'group_id': "{{ group_id }}",
                    'type': 'game'
                };
                if (window.s) {
                    window.s.send(JSON.stringify(data))
                }
            });
        });


        function list_charater_from_group() {
            $('div#dialog').find('h3.modal-title').text('关联角色');
            $('div#dialog').find('div.modal-body').load('{% url 'character:character_list_from_group' group_id %}', function () {
                $('div.character_list_before_main_page').css("display", "none");
            });
            $('div#dialog').find('button.sure').css("display", "none");
            $("div#dialog").modal("show");
        }

        function prviate_chat_form(button) {
            var user_id = $(button).parent().attr('user_id');
            $("form#" + user_id).toggle();
        }

        function invitate_to_game(button, type) {
            var user_id = $(button).parent().attr('user_id');
            $.ajax({
                url: "{% url 'group:invitate_user' group_id %}",
                type: 'post',
                data: {"user_id": user_id, "type": type, "csrfmiddlewaretoken": '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    if (data.state == 0) {
                        $("div#nav_main").load("{% url 'group:list_character' group_id %}");
                    }
                    else if (data.state == 2) {
                        $.Huimodalalert(data.msg, 1500);
                    }
                }
            });
        }

        function kick_out(button) {
            var user_id = $(button).parent().attr('user_id');
            $.ajax({
                url: '/group/' + '{{ group_id }}' + '/kick_out/' + user_id + "/",
                type: 'post',
                data: {"csrfmiddlewaretoken": '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    if (data.state == 0) {
                        $("div#nav_main").load("{% url 'group:list_character' group_id %}");
                    }
                    else if (data.state == 2) {
                        $.Huimodalalert(data.msg, 1500);
                    }
                }
            });
        }

        function shut_up(button) {
            var user_id = $(button).parent().attr('user_id');
            $.ajax({
                url: '/group/' + '{{ group_id }}' + '/shut_up/' + user_id + "/",
                type: 'post',
                data: {"csrfmiddlewaretoken": '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    if (data.state == 0) {
                        $("div#nav_main").load("{% url 'group:list_character' group_id %}");
                    }
                    else if (data.state == 2) {
                        $.Huimodalalert(data.msg, 1500);
                    }
                }
            });
        }

        function open_mouth(button) {
            var user_id = $(button).parent().attr('user_id');
            $.ajax({
                url: '/group/' + '{{ group_id }}' + '/open_mouth/' + user_id + "/",
                type: 'post',
                data: {"csrfmiddlewaretoken": '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    if (data.state == 0) {
                        $("div#nav_main").load("{% url 'group:list_character' group_id %}");
                    }
                    else if (data.state == 2) {
                        $.Huimodalalert(data.msg, 1500);
                    }
                }
            });
        }
    </script>
</head>
<body>
{% if groupmember_list %}
    <ul>
        {% for groupmember in groupmember_list %}
            {% if groupmember.character %}
                <li>
                    <div class="player_character_item" user_id="{{ groupmember.user.id }}">
                        <img class="character_list_head{% if not groupmember.is_online %} character_off_line{% endif %}"
                             src=/{{ groupmember.character.head }}>
                        <p>{{ groupmember.user.username }}{% if not groupmember.is_online %} (不在房间){% endif %}</p>
                        <a href="{% url 'character:character_detail' groupmember.character.id %}"
                           target="_blank">{{ groupmember.character.name }}</a>
                        {% if user_id != groupmember.user.id and groupmember.is_online %}
                            <button class="btn btn-primary size-MINI radius" onclick="prviate_chat_form(this)">私信
                            </button>
                            <form id="{{ groupmember.user.id }}" class="prviate_chat_form" method="post"
                                  style="display:none">
                                <input class="chat_box" type="text" name="msg">
                                <input class="btn btn-primary size-MINI radius" type="submit" value="发送">
                            </form>
                        {% endif %}
                    </div>
                </li>
            {% else %}
                <li>
                    <div class="player_character_item" user_id="{{ groupmember.user.id }}">
                        <p>{{ groupmember.user.username }}{% if not groupmember.is_online %} (不在房间){% endif %}</p>
                        {% if user_id == groupmember.user.id %}
                            <button onclick="list_charater_from_group()">关联角色
                            </button>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
            <div class="player_character_item" user_id="{{ groupmember.user.id }}">
                {% if user_id != groupmember.user.id and is_gm %}
                    {% if groupmember.send_msg %}
                        <button class="btn btn-primary size-MINI radius" onclick="shut_up(this)">禁言</button>
                    {% else %}
                        <button class="btn btn-primary size-MINI radius" onclick="open_mouth(this)">解除禁言
                        </button>
                    {% endif %}
                    {% if groupmember.group.type != 0 %}
                        <button class="btn btn-primary size-MINI radius" onclick="invitate_to_game(this,0)">拉入游戏
                        </button>
                    {% endif %}
                    {% if groupmember.group.type != 1 %}
                        <button class="btn btn-primary size-MINI radius" onclick="invitate_to_game(this,1)">拉入旁观
                        </button>
                    {% endif %}
                    <button class="btn btn-primary size-MINI radius" onclick="kick_out(this)">踢出房间</button>
                {% endif %}
            </div>
            <div style="clear: both"></div>
            <HR>
        {% endfor %}
    </ul>
{% else %}
    <p>No group member are available.</p>
{% endif %}
</body>