<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/room/player_character_list.css' %}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'h-ui/js/H-ui.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("form.prviate_chat_form").submit(function (even) {
                even.preventDefault();
                var form = $(this);
                var data = {
                    'receiver': form.attr("id"),
                    'msg': form.children('input.chat_box')[0].value,
                    'group_id': "{{ group_id }}",
                    'type': 'game'
                };
                if (window.s) {
                    window.s.send(JSON.stringify(data))
                }
                else {
                    var socket = new WebSocket("ws://" + window.location.host + "/ws/private_chat/");
                    socket.onopen = function () {
                        console.log('WebSocket open');  //成功连接上Websocket
                    };
                    socket.onmessage = function (e) {
                        console.log('message: ' + e.data);//打印出服务端返回过来的数据
                    };
                    // Call onopen directly if socket is already open
                    if (socket.readyState == WebSocket.OPEN) socket.onopen();
                    window.s = socket;
                }
            })
        });

        function list_charater_from_group(button) {
            var group_id = $(button).attr('group_id');
            if (group_id != null)
                self.location = '{%  url 'character:character_list'  %}' + group_id + "/"
        }

        function prviate_chat_form(button) {
            var user_id = $(button).parent().attr('user_id');
            $("form#" + user_id).toggle();
        }

        function invitate_to_game(button) {
            var user_id = $(button).parent().attr('user_id');

        }

        function kick_out(button) {
            var user_id = $(button).parent().attr('user_id');
            $.ajax({
                url: '/group/' + '{{ group_id }}' + '/kick_out/' + user_id + "/",
                type: 'post',
                data: {"csrfmiddlewaretoken": '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    if (data.state == 0) {
                        $("div#nav_main").load("/group/" + '{{ csrf_token }}' + "/list/character/");
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }

        function shut_up(button) {
            var user_id = $(button).parent().attr('user_id');
            $.ajax({
                url: '/group/' + '{{ group_id }}' + '/shut_up/' + user_id + "/",
                type: 'post',
                data: {"csrfmiddlewaretoken": '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    if (data.state == 0) {
                        $("div#nav_main").load("/group/" + '{{ csrf_token }}' + "/list/character/");
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }
    </script>
</head>
<body>
{% if groupmember_list %}
    <ul>
        {% for groupmember in groupmember_list %}
            {% if groupmember.character %}
                <li>
                    <div class="player_character_item" user_id="{{ groupmember.user.id }}">
                        <img class="character_list_head{% if not groupmember.is_online %} character_off_line{% endif %}"
                             src=/{{ groupmember.character.head }}>
                        <p>{{ groupmember.user.username }}{% if not groupmember.is_online %} (离线){% endif %}</p>
                        <a href="{% url 'character:character_detail' groupmember.character.id %}"
                           target="_blank">{{ groupmember.character.name }}</a>
                        {% if is_gm and groupmember.group.type != 0 and user_id != groupmember.user.id %}
                            <button onclick="invitate_to_game(this)">拉入游戏</button>
                        {% endif %}
                        {% if user_id != groupmember.user.id %}
                            <button onclick="prviate_chat_form(this)">私信</button>
                            {% if is_gm %}
                                <button onclick="shut_up(this)">禁言</button>
                                <button onclick="kick_out(this)">踢出房间</button>
                            {% endif %}
                            <form id="{{ groupmember.user.id }}" class="prviate_chat_form" method="post"
                                  style="display:none">
                                <input class="chat_box" type="text" name="msg">
                                <input type="submit" value="发送">
                            </form>
                        {% endif %}
                        <HR>
                    </div>
                </li>
            {% else %}
                <li>
                    {{ groupmember.user.username }}
                    {% if user_id == groupmember.user.id %}
                        <button group_id={{ groupmember.group.id }} onclick="list_charater_from_group(this)">关联角色
                        </button>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No group member are available.</p>
{% endif %}
</body>