<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/room/player_character_list.css' %}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("form.prviate_chat_form").submit(function (even) {
                even.preventDefault();
                var form = $(this);
                data = {
                    'receiver': form.attr("id"),
                    'msg': form.children('input.chat_box')[0].value,
                    'group_id': "{{ group_id }}",
                    'type': 'game'
                };
                if (window.s) {
                    window.s.send(JSON.stringify(data))
                }
                else {
                    var socket = new WebSocket("ws://" + window.location.host + "/ws/private_chat/");
                    socket.onopen = function () {
                        console.log('WebSocket open');  //成功连接上Websocket
                    };
                    socket.onmessage = function (e) {
                        console.log('message: ' + e.data);//打印出服务端返回过来的数据
                    };
                    // Call onopen directly if socket is already open
                    if (socket.readyState == WebSocket.OPEN) socket.onopen();
                    window.s = socket;
                }
            })
        });

        function list_charater_from_group(button) {
            var group_id = $(button).attr('group_id');
            if (group_id != null)
                self.location = '{%  url 'character:character_list'  %}' + group_id + "/"
        }

        function prviate_chat_form(button) {
            user_id = $(button).attr('user_id');
            $("form#" + user_id).toggle();
        }

    </script>
</head>
<body>
{% if groupmember_list %}
    <ul>
        {% for groupmember in groupmember_list %}
            {% if groupmember.character %}
                <li>
                    <div class="player_character_item">
                        <img class="character_list_head" src=/{{ groupmember.character.head.name }}>
                        <p>{{ groupmember.user.username }}</p>
                        <a href="{% url 'character:character_detail' groupmember.character.id %}"
                           target="_blank">{{ groupmember.character.name }}</a>
                        {% if user_id != groupmember.user.id %}
                            <button user_id="{{ groupmember.user.id }}" onclick="prviate_chat_form(this)">私信</button>
                            <form id="{{ groupmember.user.id }}" class="prviate_chat_form" method="post"
                                  style="display:none">
                                <input class="chat_box" type="text" name="msg">
                                <input type="submit" value="发送">
                            </form>
                        {% endif %}
                    </div>
                </li>
                <HR>
            {% else %}
                <li>
                    {{ groupmember.user.username }}
                    {% if user_id == groupmember.user.id %}
                        <button group_id={{ groupmember.group.id }} onclick="list_charater_from_group(this)">关联角色
                        </button>
                    {% endif %}
                </li>
                <HR>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No group member are available.</p>
{% endif %}
</body>