<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function apply_to_game(dom) {
            var dom_tr = $(dom).parent().parent();
            var room_id = dom_tr.attr('room_id');
            var url = "/room/" + room_id + "/join/";
            $.ajax({
                url: url,
                method: "post",
                data: {"csrfmiddlewaretoken": '{{ csrf_token }}'},
                dataType: "json",
                success: function (data) {
                    if (data.state == 0) {
                        var group_id = JSON.parse(data.data).group_id;
                        console.log(group_id);
                        join_room(room_id, group_id);
                    }
                    else if(data.state == 2) {
                        $.Huimodalalert(data.msg, 1500);
                    }
                }
            });
        }

        function password_to_game(dom) {
            var form = $(dom).parent();
            var room_id = form.attr('id');
            var url = "/room/" + room_id + "/join/";
            $.ajax({
                url: url,
                method: "post",
                data: {
                    "password": form.children('input[name="password"]').val(),
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                },
                dataType: "json",
                success: function (data) {
                    if (data.state == 0) {
                        var group_id = JSON.parse(data.data).group_id;
                        join_room(room_id, group_id);
                    }
                    else if(data.state == 2) {
                        $.Huimodalalert(data.msg, 1500);
                    }
                }
            });
        }

        function room_password_box(dom) {
            var room_id = $(dom).parent().parent().attr('room_id');
            $("#" + room_id).toggle();
        }

    </script>
</head>
<body>
<table class="table table-border table-bg">
    <thead>
    <tr>
        <th>房间号</th>
        <th>房间名</th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>加入</th>
    </tr>
    </thead>
    {% if room_list %}
        <tbody>
        {% for room in room_list %}
            <tr room_id="{{ room.id }}">
                <td> {{ room.num }}</td>
                <!--<td><a href="{% url 'room:room_detail' room.id %}"> 【{{ room.name }}】 </a></td>-->
                <td> 【{{ room.name }}】</td>
                <td> {{ room.gm.username }}</td>
                <td> {{ room.add_time }}</td>
                <td>
                    {% if room.state == -1 %}
                        已结团
                    {% elif room.state == 1 and not room.sidelines %}
                        跑团中，禁止旁观
                    {% elif room.password %}
                        <button class="room_password_box" onclick="room_password_box(this)">输入密码
                        </button>
                        <form id="{{ room.id }}" method="post"
                              style="display:none; float: right">
                            <input type="text" name="password">
                            <input type="button" onclick="password_to_game(this)" value="加入">
                        </form>
                    {% else %}
                        <button class="btn btn-primary join_room" onclick="apply_to_game(this)">加入房间
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% else %}
        <div>No room are available.</div>
    {% endif %}
</table>
</body>


