<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if room %}
    <div class="room_info">
        {{ room.id }} ||【{{ room.num }}】{{ room.name }}
    </div>
    <div class="room_text_board">
        口口口口口口口口口口口口口口口
        口口口口口口口口口口口口口口口
    </div>
    <div class="room_funcation_list">
        ---------------------------------------
    </div>
    <div class="room_text_inport">
        <form method="post" action="">
            <input type="text" class="room_chat">
            <input type="submit" value="发送">
        </form>
    </div>
{% else %}
    <p>No room are available.</p>
{% endif %}
</body>
</html>
