<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if room %}
    <div class="room_info">
        {{ room.id }} ||【{{ room.num }}】{{ room.name }}
    </div>
    <div class="room_text_board">
        口口口口口口口口口口口口口口口<br>
        口口口口口口口口口口口口口口口<br>
    </div>
    <div class="room_funcation_list">
        ---------------------------------------
    </div>
    <div class="room_text_inport">
        <form method="post" action="" class="room_post_msg">
            <input type="radio" name="state" value="game" checked>游戏发言
            <input type="radio" name="state" value="other">闲聊发言<br>
            <input type="text" name="text" class="room_chat_content">
            {% csrf_token %}
            <input type="button" onclick="post_message()" value="发送">
        </form>
    </div>
{% else %}
    <p>No room are available.</p>
{% endif %}
</body>
</html>
