<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="before_main_page" style="display: none">
    <h6 class="title"></h6>
    {% if task_before_list %}
        {% for task in task_before_list %}
            <div style="float: left">
                <p>{{ task.name }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No task are available.</p>
    {% endif %}
    <HR>
</div>
<div class="main_page">
    <h6 class="title"></h6>
    {% if task_list %}
        {% for task in task_list %}
            <div style="float: left">
                <p>{{ task.name }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No task are available.</p>
    {% endif %}
    <HR>
</div>
<div class="after_main_page" style="display: none">
    <h6 class="title"></h6>
    {% if task_after_list %}
        {% for task in task_after_list %}
            <div style="float: left">
                <p>{{ task.name }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No task are available.</p>
    {% endif %}
    <HR>
</div>
</body>


