<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function task_record_dialog_detail(task_id) {
            $('div#dialog').find('div.modal-body').load('{% url 'game:task_record_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', task_id));
            $('div#dialog').find('button.sure').css("display", "inline");
            $('div#dialog').find('button.sure').text("返回");
            $('div#dialog').find('button.sure').click(list_task_from_room);
        }

        function task_dialog_detail(task_id) {
            $('div#dialog').find('div.modal-body').load('{% url 'game:task_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', task_id));
            $('div#dialog').find('button.sure').css("display", "inline");
            $('div#dialog').find('button.sure').text("返回");
            $('div#dialog').find('button.sure').click(list_task_from_room);
        }
    </script>
</head>
<body>
<div class="before_main_page" style="display: none">
    <h6 class="title"></h6>
    {% if task_before_list %}
        {% for task_record in task_before_list %}
            <div style="float: left" onclick="task_record_dialog_detail('{{ task_record.id }}')">
                <p>{{ task_record.task.name }}</p>
                {% if task_record.done %}(done){% endif %}
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No task are available.</p>
    {% endif %}
    <HR>
</div>
<div class="main_page">
    <h6 class="title"></h6>
    {% if task_list %}
        {% for task in task_list %}
            <div style="float: left" onclick="task_dialog_detail('{{ task.id }}')">
                <p>{{ task.name }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No task are available.</p>
    {% endif %}
    <HR>
</div>
<div class="after_main_page" style="display: none">
    <h6 class="title"></h6>
    {% if task_after_list %}
        {% for task in task_after_list %}
            <div style="float: left" onclick="task_dialog_detail('{{ task.id }}')">
                <p>{{ task.name }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No task are available.</p>
    {% endif %}
    <HR>
</div>
</body>


