div.hor_label {
    height: 100%;
    width: 100%;
}

div.hor_label_main {
    width: 100%;
}

div.hor_label_item {
    text-align: center;
    cursor: pointer;
    background: #FFFFff;
}

div.hover {
    background: #fbfb69;
}
