<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="item_list_before_main_page" style="display: none">
    <h6 class="item_list_before_title"></h6>
    {% if item_before_list %}
        {% for item in item_before_list %}
            <div style="float: left">
                <p>{{ item.name }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No item are available.</p>
    {% endif %}
    <HR>
</div>
<div class="item_list_main_page">
    <h6 class="item_list_main_title"></h6>
    {% if item_list %}
        {% for item in item_list %}
            <div style="float: left">
                <p>{{ item.name }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No item are available.</p>
    {% endif %}
</div>
<div class="item_list_after_main_page" style="display: none">
    <h6 class="item_list_before_title"></h6>
    {% if item_before_list %}
        {% for item in item_before_list %}
            <div style="float: left">
                <p>{{ item.name }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% else %}
        <p>No item are available.</p>
    {% endif %}
    <HR>
</div>
</body>


