<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% if skill %}
        <div style="float: left">
            <img class="avatar size-L thumbnail" src=/{{ skill.pic }}>
        </div>
        <div>
            <ul>
                <h4>{{ skill.name }}</h4>
                <p>{% if skill.unique %} 独特 {% else %} 普通 {% endif %}<br></p>
                <HR>
                <p>{{ skill.detail }}<br></p>
                <HR>
                <p>创作者：{{ skill.creator.username }}<br></p>
                <HR>
                <p>创作时间：{{ skill.add_time }}<br></p>
                <HR>
                <p>技能描述：{{ skill.description }}<br></p>
                <HR>
            </ul>
            {% for k,v in skill_info.items %}
                <ul>
                    {{ k }}: {{ v }}
                    <HR>
                </ul>
            {% endfor %}
        </div>
    {% else %}
        No skills are available
    {% endif %}
</div>
</body>
</html>