<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% if task %}
        <div>
            <ul>
                <h4>{{ task.name }}</h4>
                <HR>
                <p>创作者：{{ task.creator.username }}<br></p>
                <HR>
                <p>创作时间：{{ task.add_time }}<br></p>
                <HR>
                <p>任务描述：{{ task.description }}<br></p>
                <HR>
            </ul>
            {% for k,v in task_info.items %}
                <ul>
                    {{ k }}: {{ v }}
                    <HR>
                </ul>
            {% endfor %}
        </div>
    {% else %}
        No task are available
    {% endif %}
</div>
</body>
</html>