<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}"/>
    <script src="{% static 'js/jquery-3.3.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'h-ui/js/H-ui.js' %}" type="text/javascript"></script>
    <script>
        function register() {
            $('div#register_dialog').find('h3.modal-title').text('注册用户');
            $('div#register_dialog').find('div.modal-body').load('{% url 'user:user_register' %}', function () {
                $('button.sure').unbind('click');
                $('button.sure').click(function () {
                    $('form#register_user').submit();
                });
                $('form#register_user').submit(function (e) {
                    e.preventDefault();
                    var form = $(this);
                    console.log(form.attr('action'));
                    console.log(form.attr('type'));
                    console.log(form.serialize());
                    $.ajax({
                        url: form.attr('action'),
                        method: form.attr('method'),
                        data: form.serialize(),
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            if (data.state == 0) {
                                $.Huimodalalert('注册成功', 1500);
                                setTimeout("window.location.reload();", 1500);
                            }
                            else if(data.state == 2) {
                                $.Huimodalalert('注册失败', 1500);
                            }
                        }
                    });
                });
            });
            $('div#register_dialog').modal('show');
        }
    </script>
</head>
<body>
<div class="container">
    <section id="content">
        <form action="/user/login/" method="post">
            {% csrf_token %}
            <h1>用户登录</h1>
            <div>
                <input type="text" placeholder="用户名" name="username"/>
            </div>
            <div>
                <input type="password" placeholder="密码" name="password"/>
            </div>
            <div class="">
                <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span></div>
            <div>
                <!-- <input type="submit" value="Log in" /> -->
                <input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
                <a onclick="register()">注册用户</a>
                <!-- <a href="#">Register</a> -->
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div>
<!-- container -->


<br><br><br><br>
<div style="text-align:center;">
    <p>反正是网上抄的模板</p>
</div>
<div id="register_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">标题</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
            </div>
            <div class="modal-body" style="width: 95%;height: 320px;OVERFLOW-Y: auto; OVERFLOW-X:hidden;">弹窗内容</div>
            <div class="modal-footer">
                <button class="btn btn-primary sure">确定</button>
                <button class="btn cancel" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>